ul
,li{
/* list-style: none; */
padding: 0;
margin: 0;
list-style-type: none;
}
.lnks{ 
 
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 30px;
} 